.ProductHome {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  padding: 20px;
}

.ProductItem {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  flex: 1; 
  min-width: 200px; 
}

.ProductItem img {
  max-height: 200px;
  height: auto;
}
.quantity-button {
  margin-right: 20px;
  margin-left: 20px; /* Adjust the value to your preference */
}
.category-title {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}
.price {
  font-weight: bold;
  font-size: larger;
}
.price-value {
  font-weight: bold; 

}

  
  /* Responsive styles */
  @media (max-width: 768px) {
    .ProductHome {
      padding: 10px;
    }
  }
  