/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Checkout/CheckoutPage.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
/* Checkout.css */
.CheckoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Checkout {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.CheckoutTitle {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.CheckoutForm {
  display: grid;
  grid-gap: 20px;
}

.FormGroup {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.ContinueButton, .OKButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.ContinueButton:hover, .OKButton:hover {
  background-color: #0056b3;
}

.ModalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.ModalMessage {
  font-size: 18px;
  margin-bottom: 20px;
}

